body {
  background-color: green;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  }

h1 {
  color: white;
  margin-bottom: 20px;
}

button {
  background-color: white;
  color: green;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: lightgreen;
}
